<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @content.type %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @content.stage %>
</p>

<p>
  <strong>Value:</strong>
  <%= @content.value %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
