<p id="notice"><%= notice %></p>

<p>
  <strong>Stage:</strong>
  <%= @action.stage %>
</p>

<p>
  <strong>Value:</strong>
  <%= @action.value %>
</p>

<%= link_to 'Edit', edit_action_path(@action) %> |
<%= link_to 'Back', actions_path %>
